html, body, div {
    display: flex;
}
html, body{
    flex: 1;
}
body{
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.938);
}
.center{
    width: 800px;
    height: 600px;
    align-items: center;
    flex-direction: column;
}

#paleta, #desenho{
    width: 80%;
    margin-top: 20px;
}

#paleta{
    height: 50px;
    border: 2px solid black;
    border-radius: 5px;
}

#desenho{
    height: 500px;
    flex-wrap: wrap;
}

.cores{
    flex: 1;
    margin: 0px;
    border-left: black 2px solid;
}

.espaco{
    width: 20px;
    height: 20px;
    border: 1px solid lightgrey;
}